<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel='stylesheet' type='text/css' href='stylesheets/normalize.css'/>
  <link rel='stylesheet' type='text/css' href='stylesheets/style.css'/>

  <title>Tate Explore</title>
</head>
<body>
  <div class = "container">
    <h1> Welcome to Explore Tate</h1>

  </div>
<!--   <script src= 'js/bundle.js'></script>
 -->  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>
</html>